html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins-Regular', sans-serif;
}

.navbar-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins-Regular', sans-serif;
    font-size:  14px;
    font-weight: 400;
    margin-top: 5vh;
    margin-left: 7.29vw ;
    margin-right: 7.29vw ;
}

.navbar-wrapper a{
    text-decoration: none;
    color: black;
    opacity: 90%;
}

.navbar-wrapper ul a {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
    padding-bottom: 5px;
}

.navbar-wrapper ul a:hover {
    border-bottom-color: #29B24E;
}

.Sell-button{
    color: white !important;
    opacity: 1;
    background-color: #29B24E;
    padding: 13px 26px;
    border-radius: 12px;
}

.navbar-wrapper img{
    width: 48px;
    height: 48px;
}

.navbar-wrapper ul{
    list-style: none;
    display: flex;
    gap: 3vw;
}

.About-Building-Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
    margin-left: 7vw ;
    margin-right: 7vw ;
    margin-top: 2vh;
    justify-content: space-between;
}

.Building-Photo{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 20px;
    background-image: url("../Photos/Internal-Page-Picture.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family:  'Poppins-Regular', sans-serif;
}

.Building-Description{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 24px;
}

.Building-Description h3{
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 22px;
}

.Building-Description h4{
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 14px;
    opacity: 60%;
}

.Building-Description p{
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 14px;
    opacity: 80%;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.Building-Specs ul {
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    list-style: none;
    padding: 0;
    margin-left: 1vw;
}

.Building-Specs li {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 14px;
}

.property-info-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
}

.info-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.info-column label {
    font-size: 12px;
    font-weight: 400;
    opacity: 60%;
}

.info-column p{
    opacity: 80%;
}

.facilities-list li{
    opacity: 80%;
    font-size: 14px;
}

.info-item {
    margin-bottom: 16px;
}

.info-item label {
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

.info-item p {
    margin: 0;
}

.facilities-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}

.facilities-list li {
    margin-bottom: 4px;
}

.VIP-TOP {
    font-family: 'Poppins-Regular', sans-serif;
    top: 8px;
    left: 8px;
    background: #29B24E;
    color: white;
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 12px;
}

.Building-Meta-Tags ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.Building-Meta-Tags li:not(.VIP-TOP) {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 12px;
    opacity: 60%;
}

.Similiar-Ads-Title h4{
    font-family: 'Poppins-Regular', sans-serif;
    margin-left: 7.5vw ;
    font-size:  18px;
}

.Similiar-Ads-Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2px 16px;
    width: 85%;
    margin-top: 2vh;
    margin-left: 6.5vw ;
    margin-right: 7vw;
}

.card {
    padding: 15px;
    text-align: left;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border-radius: 24px;

}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card h5{
    font-family:  'Poppins-Regular', sans-serif;
    font-size: 16px;
}

.card h6{
    font-family:  'Poppins-Regular', sans-serif;
    font-size: 14px;
    margin-top: -2vh;
    font-weight: 400;
    opacity: 40%;
}

.card h3{
    text-align: Right ;
}

.price {
    font-family: 'Poppins-Regular', sans-serif;
    color: #29B24E;
    font-size: 24px;
}

.price-internal{
    font-family: 'Poppins-Regular', sans-serif;
    color: #29B24E;
    font-size: 36px;
    margin-left: 2vw;
}
.month-internal{
    font-family: 'Poppins-Regular', sans-serif;
    font-weight: normal;
    color: #000000;
    font-size: 16px;
    margin-left: 4px;
}

.month {
    font-family: 'Poppins-Regular', sans-serif;
    font-weight: normal;
    color: #000000;
    font-size: 12px;
    margin-left: 4px;
}

h3 .price {
    margin-left: 3vw;
}

.Badge{
    position: absolute;
    bottom: -15px;
    right: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.Image {
    width: 100%;
    max-height: 20vh;
    border-radius: 12px;
    object-fit: cover;
    display: block;
}


.image-wrapper {
    position: relative;
    width: 100%;
}

.top-left {
    font-family: 'Poppins-Regular', sans-serif;
    position: absolute;
    top: 8px;
    left: 8px;
    background: #29B24E;
    color: white;
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 12px;
}

.Divider{
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid #ECECEC;
    height: 0;
}

.House-Specs {
    font-family: 'Poppins-Regular', sans-serif;
    display: flex;
    gap: 3vw;
    justify-content: center;
    font-size: 14px;
}

.price-and-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 2vh;
}

.price-and-buttons h3 {
    margin: 0;
}

.button-container {
    padding-left: 15vw;
    display: flex;
    gap: 10px;
}

.Send-Message {
    color: #29B24E;
    background-color: white;
    border: solid 1px #29B24E;
    opacity: 1;
    padding: 13px 26px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}

.Call-button {
    background-color: #29B24E;
    color: white ;
    opacity: 1;
    padding: 13px 26px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

footer.footer-container {
    margin-top: 8vh;
    background-color: #29B24E;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    padding-left: 5vw ;
    padding-right: 5vw ;
    color: white;
    flex-wrap: wrap;
}

.footer-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

.footer-container a {
    text-decoration: none;
    color: white;
    font-family:  'Poppins-Regular', sans-serif;
    font-size: 14px;
}

.footer-section.center {
    text-align: center;
    flex: 1;
}

.footer-bottom-line {
    width: 100%;
    height: 1px;
    background-color: #D0D0D0;
    margin: 20px 0 10px 0;
}

.Copyright {
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
    padding-top: 2vh;
    font-family:  'Poppins-Regular', sans-serif;
}

@media (min-width: 100px) and (max-width: 1024px) {
    .navbar-wrapper {
        display: none;
    }

    .About-Building-Container {
        display: flex !important;
        flex-direction: column !important;
        gap: 20px;
        padding: 10px;
        margin-left: -2.5vw;
        margin-right: 2vw;
        width: 100%;
    }

    .price-and-buttons {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .button-container {
        padding-left: 0;
        flex-direction: column-reverse;
        gap: 12px;
        width: 100%;
    }

    .button-container button {
        width: 100%;
    }

    .Send-Message {
        color: #29B24E;
        background-color: white;
        border: solid 1px #29B24E;
    }

    .Building-Photo {
        height: 300px;
        margin-right: 4vw;
        margin-left: 4vw;
    }

    .Similiar-Ads-Container .card-link:not(:first-child) {
        display: none;
    }

    .Similiar-Ads-Container .card-link:first-child {
        width: 80vw;
    }

    .Email {
        display: none;
    }
}